//====================================
// Global Imports
//====================================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


.card-img-overlay h1{
	flex-direction: column;
	text-transform: uppercase;
	padding: 170px;
	font-size: 45px;
	text-align: left;
}

.fim p{
	font-weight: bold;
	
}

.teste {
	background-color: green;
}



.imagem h1 {
	text-transform: uppercase;
	text-align: right;
	color: orange;
	font-size: 36px;
	left: 200px;
	

}

.imagem p {
	position: absolute;
	text-align: center;
	padding-left: 500px;
	font-size: 18px;
}

.card-img-barra{
	background-position: center;

}

.card-img-celular{
	position: absolute;
	max-width: 250px;
	max-height: 500px;
	left:80px; 
	top: 0px;
}
/*
.card-img-download{
	position: absolute;
	z-index: 2;
	left: 420px;
	top: 320px;
	max-height: 65px;

}

.card-img-apple{
	position: absolute;
	z-index: 3;
	left: 425px;
	top: 410px;
	max-height: 40px;
}
	
.card-img-android{
	position: absolute;
	left: 565px;
	top: 410px;
	max-height: 40px;
}

*/