//====================================
// Global Imports
//====================================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


header{
	background-image: url("../img/chamada.png");
	padding: 150px;
	margin-left: 400px;
	background-repeat: no-repeat;
}
.header-topo h1{
	text-transform: uppercase;
	color: white;
	font-size: 45px;
	margin-right: 1050px;
	margin-top: 50px;
	
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: orange;
	font-size: 36px;
	left: 200px;

}

.relogio{
	max-width: 50%;
}

.lupa {
	max-width: 50%;
}

.boneco{
	max-width: 50%;
}

.row-with-background {
	background-image: url("../img/barra.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 65%;
	
}

p {
	text-align: center;
	font-size: 18px;
}

.celular{
	max-width: 450px;
	max-height: 600px;
	padding-left: 75px; 
	
}
.card-img-apple{
	padding-left: 50px;
	padding-top: 100px;
	
}
	
.card-img-android{
	padding-top: 100px;
}

.download{
	padding-left: 75px;
	padding-top: 200px;
		
}

.btn{
	padding: 5px 75px;
	font-weight: bold;
	border-radius: 10px;
	margin-top: 150px;
	margin-left: 80px;
	font-size: 35px;
	text-transform: uppercase;
}