//====================================
// Global Imports
//====================================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


.card-img-overlay h1{
	flex-direction: column;
	text-transform: uppercase;
	padding: 170px;
	font-size: 45px;
	text-align: left;
}

.fim p{
	font-weight: bold;
	
}

.teste {
	background-color: green;
}



h1 {
	text-transform: uppercase;
	text-align: center;
	color: orange;
	font-size: 36px;
	left: 200px;
	

}

.row-with-background {
	background-image: url("../img/barra.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 65%;

}

p {
	text-align: center;
	font-size: 18px;
}

.celular{
	max-width: 450px;
	max-height: 550px;
	padding-left: 75px; 
	padding-top: 0px;
}
.card-img-apple{
	padding-left: 50px;
	padding-top: 250px;
	
}
	
.card-img-android{
	padding-top: 250px;
}

.card-img-download{
	
		
}